.anima{
  width: 7px;
  height: 7px;
  border-radius:999em;
  background-color: #FF00FF ;
  position:relative;
  animation-name: round1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.anima2{
  width: 7px;
  height: 7px;
  border-radius:999em;
  background-color: #00FFFF ;
  position:relative;
  animation-name: round2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes round1 {
  0%{left:-10px;top:52px;}
  25%{left:200px;top:52px;}
  50%{left:200px;top:5px;}
  75%{left:-10px;top:5px;}
  100%{left:-10px;top:52px;}
}
@keyframes round2 {
  0%{left:200px;top:-50px;}
  25%{left:-10px;top:-50px;}
  50%{left:-10px;top:0px;}
  75%{left:200px;top:0px;}
  100%{left:200px;top:-50px;}
}
