dev b{
  color: #FFFFFF;
  text-align:center ;
  font-size:300% ;
  position: relative ;
  left: 27.5% ;
}

img{
  position: relative ;
  text-align: center ;
  left: 25% ;
}


video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
    }

#usernamestyle{
  position: absolute ;
  text-align: center ;
  top: 25% ;
  left: 24% ;
  border-style: solid ;
}
#userpassword{
  position: absolute ;
  text-align: center ;
  top: 35% ;
  left: 30% ;
  border-style: solid ;

}
#submitpos{
  position: absolute ;
  text-align: right ;
  top: 17% ;
  left: 90% ;
  width: 65px ;
  letter-spacing: 7px ;
}
